<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="/fonts/wako/wako.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
 </head>
 <body>
  <h1 id="name">{{name}}</h1>
  <img id="logo" src="/images/dorfbot.svg"/>
 </body>
</html>
